body{
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

#menu {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: underline;
}

#accueil {
    text-align: center;
    padding: 200px ;
    
}

table {
    text-align: center;
    border-color: aliceblue;
}

#cahier {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    color: rgb(255, 255, 255);
}

#materiel{
    background: #1e293b;
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 100px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    color: rgb(255, 255, 255);
}
